.post-card {
    border-radius: 10px;
    border: 2px solid goldenrod;
    margin-bottom: 20px;
    padding: 20px;
    .subtitle {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    h2, h5 {
        color: black;
    }
    .post-auth {
        font-weight: bold;
    }
    .asg-marker {
        font-weight: bold;
        color: goldenrod;
    }
}

.asg-card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);

}