.file-att {
    background-color: lightgray;
    display: inline-flex;
    padding: 15px 20px;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    gap: 20px;

    .icon {
        color: black;
        font-size: 24px;
    }

    h5,
    h6 {
        color: black;
        margin: 0;
    }
}
